.create-item-modal {
  min-height: 260px;
  margin-top: 16px;
}

input::placeholder,
textarea::placeholder,
.ant-input::placeholder,
.ant-input-number input::placeholder {
  font-family: "Frutiger", sans-serif;
}

.create-item-modal {
  font-family: "Frutiger", sans-serif;
}

.create-item-modal input,
.create-item-modal textarea,
.create-item-modal .ant-input,
.create-item-modal .ant-input-number,
.create-item-modal .ant-checkbox-wrapper,
.create-item-modal .ant-tag {
  font-family: "Frutiger", sans-serif;
}

:where(.css-dev-only-do-not-override-pgtbg4).ant-typography {
  font-family: "Frutiger", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'!important;
  font-size: 14px;
  box-sizing: border-box;
}
