@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");


.handletext {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  margin-top: 12px;
}

.handleInputs {
  gap: 10px;
}

.handleOr {
  margin-top: 16px;
}

.switchBtn {
  direction: ltr;
}

.input[type="text"],
.input[type="password"],
.input[type="number"],
.textarea {
    font-family: "Frutiger", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-weight: normal;
}