.create-package-modal {
  height: 500px;
  margin-top: 16px;
}

.create-package-modal .test-form {
  height: 100%;
  position: relative;
}

.create-package-modal .test-form .test-list {
  margin-top: 6px;
  overflow: auto;
  height: 310px;
  padding-bottom: 20px;
}

.create-package-modal .test-form .test-list .test-item {
  padding: 8px 0px;
  border-bottom: 1px solid #f6f6f6;
}
.create-package-modal .test-form .test-list .test-item:last-child {
  border: none;
}
.create-package-modal .test-form .test-form-footer {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  background-color: #fff;
}
.create-package-modal .test-form .test-form-footer .overlay-top {
  position: absolute;
  top: -25px;
  left: 0;
  right: 0;
  background: linear-gradient(0deg, #fff 19.21%, #ffffff00 100%);
  height: 20px;
  z-index: 99;
}
.create-package-modal .test-form .test-form-footer .total-values {
 
  border: 1px dashed #ccc;
  background-color: #f6f6f6;
  border-radius: 8px;
  padding: 8px 16px;
}
