.table-footer{
    margin-top: 14px;
}

.table-footer p{
    color: #666;
}

.table-footer  .ant-pagination-simple-pager input{
 padding: 0 !important;
}

.reports-screen tr:nth-child(4) {
    background-color: #f6f6f6 !important;
}

.reports-screen td{
    height: 60px;
}

.custom-actions{
    width: 100%;
    display: flex;
    justify-content: end;
}