.table-footer{
    margin-top: 14px;
    padding: 0px 14px 16px 22px
}

.table-footer p{
    color: #666;
}

.table-footer  .ant-pagination-simple-pager input{
 padding: 0 !important;
}

.custom-actions{
    width: 100%;
    display: flex;
    justify-content: end;
}