.create-test-modal {
  height: 500px;
  margin-top: 16px;
}

.create-test-modal .test-form {
  height: 100%;
  position: relative;
}

.create-test-modal .test-form .test-list {
  margin-top: 6px;
  overflow: auto;
  height: 310px;
  padding-bottom: 20px;
}

.create-test-modal .test-form .test-list .test-item {
  padding: 8px 0px;
  border-bottom: 1px solid #f6f6f6;
}
.create-test-modal .test-form .test-list .test-item:last-child {
  border: none;
}
.create-test-modal .test-form .test-form-footer {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  background-color: #fff;
}
.create-test-modal .test-form .test-form-footer .overlay-top {
  position: absolute;
  top: -25px;
  left: 0;
  right: 0;
  background: linear-gradient(0deg, #fff 19.21%, #ffffff00 100%);
  height: 20px;
  z-index: 99;
}
.create-test-modal .test-form .test-form-footer .total-values {
 
  border: 1px dashed #ccc;
  background-color: #f6f6f6;
  border-radius: 8px;
  padding: 8px 16px;
}
:where(.css-dev-only-do-not-override-1kh9vnz).ant-typography{

  font-family: "Frutiger", 'Segoe UI', Roboto !important;
}
/* .frutiger-font {
}

:where(.css-dev-only-do-not-override-pgtbg4).ant-input {
  font-family: "Frutiger", 'Segoe UI', Roboto;
}

:where(.css-dev-only-do-not-override-pgtbg4).ant-picker .ant-picker-input > input {
  font-family: "Frutiger", 'Segoe UI', Roboto;
}

:where(.css-dev-only-do-not-override-pgtbg4).ant-modal .ant-modal-title {
  font-family: "Frutiger", 'Segoe UI', Roboto;
} */

.pure-steps span{
  margin-left:8px;
}